############################
# Project files
############################

# data directory is reserved for development data path
data

# goatcli secret file contains user secret data (like credentials)
.goat/secrets.json

############################
# GoatCLI - private data
############################
/.goat/secrets.json
/.goat/vcs/generated

############################
# Other system and ide files
############################
.DS_Store
main
npm-debug.log
__debug_bin
*.test
*~
*.exe
debug
*.db
*.db-journal
.idea/
*.log
configuration.json

############################
# Genereted files
############################
docker/owncloud/.env